<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi barra de Navegacion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['traductor']">Traductor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['peliculas']">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['cotizacion']">Cotizacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['qr']">Generador QR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['musica']">Buscador Musica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['clima']">Clima</a>
                </li>
            </ul>
        </div>
    </div>
</nav>